---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        form:
            api-version:
                - "2023-07-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctestRG-796927806410138082?api-version=2023-07-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''acctestRG-796927806410138082'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 404 Not Found
        code: 404
        duration: 1.165069354s
    - id: 1
      request:
        host: management.azure.com
        body: '{"location":"eastus"}'
        form:
            api-version:
                - "2023-07-01"
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctestRG-796927806410138082?api-version=2023-07-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctestRG-796927806410138082","name":"acctestRG-796927806410138082","type":"Microsoft.Resources/resourceGroups","location":"eastus","properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "2999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "199"
        status: 201 Created
        code: 201
        duration: 4.844121536s
[...]
    - id: 3
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-05-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctestRG-796927806410138082/providers/Microsoft.Network/virtualNetworks/acctest2vzhh?api-version=2024-05-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/acctest2vzhh'' under resource group ''acctestRG-796927806410138082'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 324.560638ms
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"eastus","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
        form:
            api-version:
                - "2024-05-01"
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctestRG-796927806410138082/providers/Microsoft.Network/virtualNetworks/acctest2vzhh?api-version=2024-05-01
        method: PUT
      response:
        body: '{"name":"acctest2vzhh","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctestRG-796927806410138082/providers/Microsoft.Network/virtualNetworks/acctest2vzhh","etag":"W/\"00000000-0000-0000-0000-000000000000\"","type":"Microsoft.Network/virtualNetworks","location":"eastus","properties":{"provisioningState":"Updating","resourceGuid":"00000000-0000-0000-0000-000000000000","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"privateEndpointVNetPolicies":"Disabled","subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/8cc50db9-687b-4a77-90a7-8c06da543fc2?api-version=2024-05-01&t=redacted&c=redacted&s=redacted&h=redacted
            Content-Type:
                - application/json; charset=utf-8
            Retry-After:
                - "3"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "2999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "199"
            X-Ms-Throttle-Levels:
                - operationRatePct=0.1, operationConcurrencyPct=0.3, subscriptionWriteRatePct=0.1, etc
        status: 201 Created
        code: 201
        duration: 698.68183ms
    - id: 5
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-05-01"
            c:
                - redacted
            h:
                - redacted
            s:
                - redacted
            t:
                - redacted
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/8cc50db9-687b-4a77-90a7-8c06da543fc2?api-version=2024-05-01&t=redacted&c=redacted&s=redacted&h=redacted
        method: GET
      response:
        body: '{"status":"Succeeded"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
            X-Ms-Throttle-Levels:
                - operationConcurrencyPct=0.5, etc
        status: 200 OK
        code: 200
        duration: 815.734363ms
[...]
    - id: 15
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-05-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctestRG-796927806410138082/providers/Microsoft.Network/virtualNetworks/acctest2vzhh?api-version=2024-05-01
        method: DELETE
      response:
        body: ""
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/23effa13-f900-4746-b9e1-a5de88a33729?api-version=2024-05-01&t=redacted&c=redacted&s=redacted&h=redacted
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/23effa13-f900-4746-b9e1-a5de88a33729?api-version=2024-05-01&t=redacted&c=redacted&s=redacted&h=redacted
            Retry-After:
                - "10"
            X-Ms-Ratelimit-Remaining-Subscription-Deletes:
                - "199"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Deletes:
                - "2999"
            X-Ms-Throttle-Levels:
                - operationRatePct=0.1, operationConcurrencyPct=0.3, subscriptionWriteRatePct=0.2, etc
        status: 202 Accepted
        code: 202
        duration: 637.04883ms
[...]
    - id: 18
      request:
        host: management.azure.com
        form:
            api-version:
                - "2023-07-01"
            c:
                - redacted
            h:
                - redacted
            s:
                - redacted
            t:
                - redacted
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BQ0NURVNUUkc6MkQ3OTY5Mjc4MDY0MTAxMzgwODItRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZGJsMDMifQ?api-version=2023-07-01&t=redacted&c=redacted&s=redacted&h=redacted
        method: GET
      response:
        body: ""
        headers:
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 923.910851ms
[...]
