---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace}}

~> **Note:** The `{{.Name}}` List Resource is in beta. Its interface and behaviour may change as the feature evolves, and breaking changes are possible. It is offered as a technical preview without compatibility guarantees until Terraform 1.14 is generally available.

{{if .HasExample -}}## Example Usage

{{ tffile (printf .ExampleFile) | trimspace | prefixlines " " }}{{ end }}

{{ .SchemaMarkdown | trimspace }}

