---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace}}

{{if .HasExample -}}## Example Usage

{{ tffile (printf .ExampleFile) | trimspace | prefixlines " " }}{{ end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}## Import

{{ codefile "shell" (printf .ImportFile) | trimspace | prefixlines " " }}{{ end }}
